<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <h1>Test in templates</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </thead>
        <tbody>
            <tr  th:each="person,stat:${personList}">
                <td th:text="${stat.count}"></td>
                <td th:text="${person.id}"></td>
                <td th:text="${person.name}"></td>
                <td th:text="${person.age}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>